@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 20vh;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    border-radius: 10px;
    height: 35px;
    text-align: center;
    box-shadow: 0 0 40px white (0 , 0 ,0 , 10px);
    outline: none;
    
}
.gen {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
    flex-wrap: wrap;
    gap: 3px 1px;
    padding-top: 2%;

}
.img {
    border-radius: 25px;
    width: 260px;
 
}

.search ::placeholder {
    text-align: center;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 30px;
    font-style: normal;
}

h3 {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}
p {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}
.logo {
    width: 200px;
    height: 200px;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}
.ctg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}
.category {
    width: 100px;
    background: white;
    color: black;
    border-radius: 20px;
}
.abt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.foot {
    background: #000;
}
.foot > h3 {
    color: white;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abt > p {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}
.li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000;
}
.li > a {
    text-decoration: none;
    color: white;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;

}